<aside class="acc-side">
  <div class="user">
    <div class="av">{{ iniciales }}</div>
    <div>
      <div class="name">{{ userName }}</div>
      <div class="email">{{ userEmail }}</div>
    </div>
  </div>
  <nav class="acc-nav">
    <a [class.on]="activeView === 'boletos'" (click)="viewChange.emit('boletos')">Mis boletos <span class="ct">{{ countProximos }}</span></a>
    <a [class.on]="activeView === 'reembolsos'" (click)="viewChange.emit('reembolsos')">Reembolsos</a>
    <a [class.on]="activeView === 'perfil'" (click)="viewChange.emit('perfil')">Mi perfil</a>
  </nav>
</aside>
