:host {
    display: block;
}


.timer-card {

    display: flex;

    align-items: center;

    gap: 12px;


    padding: 14px;


    background: var(--dark-2);


    border-radius: var(--r-lg);


    border: 1px solid rgba(255, 255, 255, .08);

}



.icon {

    width: 36px;

    height: 36px;


    display: flex;

    align-items: center;

    justify-content: center;


    font-size: 18px;


    background: rgba(255, 255, 255, .08);


    border-radius: var(--r);

}



span {

    display: block;

    color: rgba(255, 255, 255, .55);

    font-size: 11px;

}



strong {

    color: var(--orange);

    font-size: 20px;

    font-weight: 900;

}