<aside class="panel">


    <section class="show-info">

        <div class="movie-icon">
            🎬
        </div>


        <div class="show-details">

            <h3>
                Nombre de la película
            </h3>

            <span>
                Sala 5
            </span>

            <span>
                Hoy · 8:30 PM
            </span>

        </div>

    </section>



    <section class="summary-card">

        <h2>
            Resumen
        </h2>


        <div class="selected-seats">

            <span>
                Asientos seleccionados
            </span>


            <div class="seat-tags">

                @for (
                asiento of asientosSeleccionados;
                track asiento.id
                ) {

                <span>
                    {{ asiento.fila }}{{ asiento.numero }}
                </span>

                }

            </div>

        </div>



        <div class="summary-item">

            <span>
                Cantidad
            </span>

            <strong>
                2
            </strong>

        </div>



        <div class="summary-item">

            <span>
                Subtotal
            </span>

            <strong>
                $12.00
            </strong>

        </div>



        <p class="limit">
            Máximo 6 asientos por reserva
        </p>


    </section>



    <button class="buy-button">
        Continuar al pago
    </button>

</aside>