<section class="refund-card">


    <div class="icon">
        💳
    </div>


    <div class="content">


        @if(metodoPago === 'tarjeta') {


        <h3>
            Método de reembolso
        </h3>


        <p>
            Tarjeta terminada en
            <strong>
                ****{{ ultimosDigitos }}
            </strong>
        </p>


        }


        @if(metodoPago === 'efectivo') {


        <h3>
            Método de reembolso
        </h3>


        <p>
            Reembolso en
            <strong>
                taquilla
            </strong>
        </p>


        }


    </div>


</section>