<app-appbar [navItems]="nav" />

<main class="wrap">

    <section class="cancel-card">

        <header>
            <h1>Cancelar reserva</h1>
            <p>
                Revisa los detalles de tu reserva antes de continuar.
            </p>
        </header>


        <div class="ticket-info">

            <h2>Spider-Man: Across the Spider-Verse</h2>

            <div class="details">
                <p>
                    <strong>Cine</strong><br>
                    Cinetario Mall
                </p>

                <p>
                    <strong>Sala</strong><br>
                    Sala 4
                </p>

                <p>
                    <strong>Fecha</strong><br>
                    25 Junio 2026
                </p>

                <p>
                    <strong>Hora</strong><br>
                    7:30 PM
                </p>

                <p>
                    <strong>Asientos:</strong>
                    A5, A6
                </p>

            </div>


            <div class="refund">
                <h3>Reembolso estimado</h3>

                <span>
                    L 240.00
                </span>

                <small>
                    Según la política de cancelación aplicada.
                </small>
            </div>


        </div>


        <div class="actions">

            <button class="secondary" (click)="volver()">
                Volver
            </button>

            <button class="danger" (click)="confirmarCancelacion()">
                Confirmar cancelación
            </button>


        </div>

    </section>

    @if(cancelado) {

    <div class="overlay">

        <section class="success-modal">

            <div class="icon">
                ✓
            </div>

            <h2>
                ¡Reserva cancelada exitosamente!
            </h2>


            <p>
                Tu reserva fue cancelada correctamente.
            </p>


            <button (click)="volverBoletos()">
                Volver a mis boletos
            </button>

        </section>

    </div>

    }

</main>


<app-footer />